body {
  font-size: 14px;
  max-width: 680px;
  padding: 0 10px;
  margin: 40px auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  font-weight: bold;
  display: inline-block;
}

.BlogItem {
  margin-bottom: 1.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.text-center {
  text-align: center;
}
.form-textarea {
  resize: vertical;
}
.btn {
  border: 1px solid;
  border-radius: .25rem;
  padding: .375rem .75rem;
}
.form-textinput {
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: .375rem .75rem;
  border: 1px solid;
  border-radius: .25rem;
}

.badge-grey {
  cursor: default;
  line-height: 1;
  font-size: .75em;
  padding: .35em .65em;
  border-radius: 50rem;
  display: inline-block;
}

.Loading {
  font-weight: bold;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #454545;
    background-color: #fefefe;
  }

  a:link {
    color:#1864ab;
  }

  a:visited {
    color:#1864ab;
  }

  pre {
    background-color: #fafafa;
  }
  .alert-danger {
    color: #e64980;
  }
  .alert-success {
   color: #0ca678; 
  }  
  .btn {
    color: #454545;
    border-color: #71717a;
  }
  .form-textinput {
    border-color: #71717a;
  }

  .text-grey,
  .form-text {
    color: #a1a1aa;
  }

  .badge-grey {
    color: #fefefe;
    background-color: #a1a1aa; 
  }
}
